body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #fff;
  -webkit-text-size-adjust: 100%; /* fix footer bug on iOS */
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  margin-top: -540px;
  margin-left: -960px;
  height: 1080px;
  width: 1920px;
  background-color: #000;
}

#background video {
  min-height: 100%;
  min-width: 100%;
}

#gradient {
  background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.90) 100%);
  display: block;
  height: 1080px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

@media all and (min-width: 1920px), all and (min-height: 1080px) {
  #background {
    top: 0;
    left: 0;
    margin-top: 0;
    margin-left: 0;
    min-width: 100%; 
    min-height: 100%;
  }
}

@media all and (max-device-height: 799px) {
  body {
    background: url(../img/screenshot.png) no-repeat #000 center;
    background-size: cover;
  }
  #background {
    display: none;
  }
  #gradient {
    position: absolute;
    height: 597px;
  }
}

#content {
  width: 300px;
  margin: 80px auto;
  z-index: 1;
  text-align: center;
}

#logo {
  width: 220px;
  height: 220px;
  background-image: url(../img/logo.png);
  background-size: 100%;
  text-indent: -99999px;
  color: transparent;
  margin: 0 auto;
}

#content h1 {
  font-size: 48px;
  margin: 0;
  margin-top: 16px;
}

#content h2 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 8px;
}

#buttons {
  list-style: none;
  padding: 0;
  margin-top: 32px;
}

#buttons li {
  padding: 16px;
  background: rgba(0,0,0,0.7);
  border-radius: 3px;
  margin: 16px 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.information {
  font-size: 12px;
  color: #7D7D7D;
}

.information a {
  color: #7D7D7D;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  font-size: 14px;
  text-align: center;
}

#footer ul {
  padding: 16px;
  margin: 0;
  list-style: none;
}

#footer li {
  margin-left: 16px;
  display: inline;
}

#footer li:first-child {
  margin-left: 0;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{ 
  0%,100% {
    transform:rotate(0)
  }
  20%,60% {
    transform:rotate(-25deg)
  }
  40%,80% {
    transform:rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation:none
  }
  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out
  }
}
